---
# tasks file for ansible-role-drbd9

- name: import RPM-GPG-KEY-elrepo
  rpm_key:
    state: present
    key: https://www.elrepo.org/RPM-GPG-KEY-elrepo.org
  tags: drbd9

- name: install elrepo repository
  yum:
    name: http://www.elrepo.org/elrepo-release-7.0-3.el7.elrepo.noarch.rpm
  tags: drbd9

- name: install drbd9
  yum:
    name:
      - kmod-drbd90
      - drbd90-utils
    state: present
  tags: drbd9

- name: cp LINSTOR packages
  copy: 
    src: "{{ item }}"
    dest: /tmp/
  with_items:
    - "rpm/linstor-client-0.7.3-1.noarch.rpm"
    - "rpm/linstor-common-0.7.3-1.el7.centos.noarch.rpm"
    - "rpm/linstor-controller-0.7.3-1.el7.centos.noarch.rpm"
    - "rpm/linstor-satellite-0.7.3-1.el7.centos.noarch.rpm"
    - "rpm/python-linstor-0.7.3-1.noarch.rpm"

- name: install LINSTOR packages
  yum: 
    name:
      - "/tmp/linstor-client-0.7.3-1.noarch.rpm"
      - "/tmp/linstor-common-0.7.3-1.el7.centos.noarch.rpm"
      - "/tmp/linstor-controller-0.7.3-1.el7.centos.noarch.rpm"
      - "/tmp/linstor-satellite-0.7.3-1.el7.centos.noarch.rpm"
      - "/tmp/python-linstor-0.7.3-1.noarch.rpm"
    state: present
