global_defs {
    router_id DRBD
}

vrrp_script check_drbd {
    script "/usr/local/bin/check_drbd.sh"
    interval 3
    fall 2
    raise 2
}

vrrp_instance DRBD {
    state BACKUP
    interface {{ ha_drbd_vrrp_interface }}
    virtual_router_id 51
    priority {{ ha_drbd_vrrp_priority }}
    advert_int 1
    authentication {
        auth_type PASS
        auth_pass PASSWORD
    }
    virtual_ipaddress {
        {{ ha_drbd_virtual_ipaddress }}
    }
    unicast_peer {
        {{ ha_drbd_unicast_address1 }}
        {{ ha_drbd_unicast_address2 }}
    }
    track_script {
        check_drbd
    }
    notify_master "/usr/local/bin/ctrl_drbd.sh MASTER"
    notify_backup "/usr/local/bin/ctrl_drbd.sh BACKUP"
    notify_fault  "/usr/local/bin/ctrl_drbd.sh BACKUP"
    notify_stop   "/usr/local/bin/ctrl_drbd.sh BACKUP"
    notify        "/usr/local/bin/save_drbd_status.sh"
}

